@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif
}
.alertbox{
    position: absolute;
    width: 100%;
}
.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee
}

.section .container {
    height: 500px;
    width: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden
}

.section .container .form {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex
}

.section .container .left-side {
    width: 55%;
    background-color: #040387;
    height: 100%
}

.section .container .left-side .content {
    color: #fff;
    letter-spacing: 1px;
    margin-top: 80px;
    padding: 10px 30px;
    text-align: center
}

.section .container .left-side .social {
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section .container .left-side .social .social-icons {
    list-style: none;
    display: flex
}

.section .container .left-side .social .social-icons li {
    margin: 5px
}

.section .container .left-side .social .social-icons a {
    color: #fff;
    transition: all 0.5s
}

.section .container .left-side .social .social-icons a i {
    color: #fff;
    transition: all 0.5s
}

.section .container .left-side .social .social-icons a:hover i {
    transform: rotate(360deg)
}

.section .container .left-side .social .terms {
    list-style: none;
    display: flex;
    margin-top: 3px
}

.section .container .left-side .social .terms li .dots {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    margin: 12px 5px
}

.section .container .left-side .social .terms li a {
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #fff
}

.section .container .left-side .content h5 {
    font-size: 19px
}

.section .container .left-side .content p {
    font-size: 10px
}

.section .container .right-side {
    width: 45%;
    background-color: #fff;
    height: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center
}

.section .container .right-side .forms {
    padding-right: 20px;
    width: 100%;
    height:100%;
}

.section .container .right-side .forms .forms-heading{
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    font-size: 40px;
}

.section .container .right-side .forms input {
    width: 108%;
    height: 45px;
    border: none;
    margin-bottom: 10px;
    padding: 0px 10px;
    border: 2px solid #eee;
    transition: all 0.5s;
    background-color: #e8f0fe;
    border-radius: 3px;
    outline: none;
    box-shadow: none
}

.section .container .right-side .forms input[type="submit"] {
    width: 100%;
    background-color: #040387;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    text-transform: uppercase
}

.section .container .right-side .forms input[type="submit"]:hover {
    background-color: black;
}

.submit-button {
    width: 107%;
}

.section .container .right-side .forms input:focus {
    border: 2px solid #000 ;
}

.strength-list {
    margin-left: 5px;
    list-style: none;
    margin-bottom: 5px
}

.form-inputs {
    position: relative;
    width: 100% !important
}

.form-inputs i {
    position: absolute;
    top: 14px;
    right: 1px;
    color: #dbdada;
    z-index: 1000
}


.form-acc{
    margin: 7px 4px;
    letter-spacing: .5px;
    font-size: 13px;
    display: flex;
}
.form-acc a{
    text-decoration: none;
    color: blue;
    margin: 0 3px;
    cursor: pointer;
}

@media (max-width:750px) {
    .section .container {
        max-width: 350px
    }

    .section .container .left-side {
        display: none
    }

    .section .container .right-side {
        width: 100%
    }
}